.form-container {
    max-width: 400px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  .body{
    background-color: rgb(248, 248, 248);
  }
  .btn-custom {
    background-color: rgb(206, 214, 124);
    padding: 20px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.haa{
  background-color: yellow;
}

header, footer {
  height: 15%;
  background-color: rgb(254, 255, 176);
}

footer {
  background-color: rgb(254, 255, 176);
}

.body-container {
  height: 70%;
  display: flex;
}



.right-side {
  width: 80%;
  background-color: rgb(255, 251, 171); /* Remplacé par une couleur de test */
}

.left-side {
  
  
  width: 20%;
  background-color:rgb(0, 0, 0);
  overflow-y: auto; /* Permet le défilement si le contenu dépasse la hauteur */
}




