<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <header>
        <div></div>
       
    </header>
    <div class="body-container">
        <div class="left-side">
          @if (auths.hasrole('USER')) {
                
            <img  style="position: fixed;width: 20%; height: 100%;margin-left: 5px;margin-bottom: 15px; " src="\assets\images\imm.jpg" alt="">
            
          }
            <div style="position: fixed" class="text-center mt-5">
              
                @if (auths.hasrole('ADMIN')) {
                <div class="btn btn-custom" style="width: 9cm;color: aliceblue;background-color: black;">
                  
                  
                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;" i18n>{{ editMode ? 'MODIFIER PRODUIT' : 'AJOUTER PRODUIT' }}</h1>
                    <form class="form-container" (ngSubmit)="addProduct()">
                      <div class="form-group">
                        <label for="name" i18n>Product name</label>
                        <input type="text" id="name" [(ngModel)]="newProduct.name" name="name" class="form-control" required>
                      </div>
                    
                      <div class="form-group">
                        <label for="category" i18n>Category </label>
                        <input type="text" id="category" [(ngModel)]="newProduct.category" name="category" class="form-control" required>
                      </div>
          
                      <div class="form-group">
                        <label for="price" i18n>Price</label>
                        <input type="number" id="price" [(ngModel)]="newProduct.price" name="price" class="form-control" required>
                      </div>
                    
                      <div class="form-group">
                        <label for="url_image" i18n>Image URL </label>
                        <input type="url" id="url_image" [(ngModel)]="newProduct.url_image" name="url_image" class="form-control" required>
                      </div>
                    
                      <div class="form-group">
                        <label for="quantity" i18n>Quantity</label>
                        <input type="number" id="quantity" [(ngModel)]="newProduct.quantite" name="quantity" class="form-control" required>
                      </div>
                    
                      <div class="form-group">
                        <label for="description" i18n>Description </label>
                        <textarea id="description" [(ngModel)]="newProduct.description" name="description" class="form-control"></textarea>
                      </div>
                    
                      <button type="submit" class="btn btn-outline-dark" i18n>{{ editMode ? 'Modify' : 'ADD' }}</button>
                    </form>
                    
                  
                </div>}
              </div>
        </div>
        <div class="right-side">
          <div  *ngIf="products">
            <div class="proo">
              <!-- Bouton de recherche -->
              
              <button type="button" class="btn btn-outline-dark" (click)="toggleSearch()">🔍</button>
              <!-- Dropdown de recherche -->
              <div *ngIf="showSearch">
                
                <input style="border-radius: 5%;" [(ngModel)]="searchKeyword" placeholder="Rechercher des produits" />
                <button  class="btn btn-outline-secondary" (click)="searchProducts()" i18n>search</button>
              </div>
            </div>
            @if (products.length > 0) {
            <div >
              
            </div>}
            @if (products.length === 0) {
            <div i18n >
              NO product found
            </div>
          }
            <div> 
                @for (p of products; track $index) {
                  <app-productdetails [p]="p" (buyEvent)="buying(p)" (addToCartEvent)="addToCart($event)" (deleteEvent)="deleteProduct(p)" (editEvent)="loadProductForEdit(p)"></app-productdetails>
                }
              </div>
              
        </div></div>
    </div>
    <footer>
       <div></div>
    </footer>
</body>
</html>
