.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, rgb(220, 225, 144), rgb(5, 0, 70));
}

.product-item:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

.product-content {
  display: grid;
  grid-template-columns: 5cm auto;
}

.product-image {
  display: flex;
  align-items: center;
}

.product-details {
  padding-left: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.product-content {
  display: flex;
}

.alerts {
  margin-left: auto;
  margin-top: 50px;
}

.btn {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  gap: 10px; /* This will add space between all buttons within the .btn container */
}

.btn button {
  width: 100px;
  height: 50px;
  border-radius: 15%;
  background-color: #000000;
  color: rgb(255, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-outline-danger, .btn-outline-warning {
  background-color: #f8d7da; /* Red background for delete */
  color: #721c24; /* Red text for delete */
  border: 1px solid #f5c6cb; /* Red border for delete */
}

.btn-outline-warning {
  background-color: #fff3cd; /* Yellow background for edit */
  color: #856404; /* Yellow text for edit */
  border: 1px solid #ffeeba; /* Yellow border for edit */
}

.edit-btn {
  margin-right: 10px; /* Add space to the right of the Edit button */
}

.btn button:hover {
  background-color: #555555;
}
.promo {
  color: green; /* Modifier selon votre préférence */
}