.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(231, 231, 84, 0.849);
  
}

.product-item:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

.product-content {
  display: grid;
  grid-template-columns: 5cm auto;
}

.product-image {
  display: flex;
  align-items: center;
}

.product-details {
  padding-left: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.product-content {
  display: flex;
}

.alerts {
  margin-left: auto;
  margin-top: 50px;
}
.btn{
margin-top: 30px;
  justify-content: center;
  display: flex;

}
.btn button {
  width: 100px;
  height: 50px;
  border-radius: 15%;
  background-color: #000000;
  color: rgb(255, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
