<div class="right-side">
  <div class="product-list">
    <div class="product-item">
      <div class="product-content">
        <div class="product-image">
          <img [src]="getImageURL(p)" style="width: 5cm; height: 5cm;" />
        </div>
        <div class="product-details">
          <div class="product-name">{{ p.name }}</div>
          <div class="product-price">Prix: {{ p.price }}</div>
          <div class="quantity text-danger custom-product-quantity"><b>Quantité disponible: {{ p.quantite }}</b></div>
          <div class="promo-status" [ngClass]="{ 'promo': p.isPromo }">
            {{ p.isPromo ? 'En Promo' : '' }}
          </div>
          <details class="accordion">
            <summary>Détails du produit</summary>
            <div class="accordion-body">
              <p>{{ p.description }}</p>
            </div>
          </details>
        </div>
        
        <div class="alerts">
          @if (p.qeerebyasali && p.quantite != 0){
            <div id="alert" style="color: rgb(251, 6, 6);" i18n>QUANTITE INSSUFISANTE⁉️</div>
          }
          @if (p.quantite == 0){
            <label style="color: rgb(179, 0, 0);" i18n>PRODUCT EXPIRED🚨</label>
          }
        </div>
        <div class="btn">
          @if (authss.hasrole('USER')){
            <button class="btn btn-light" [disabled]="p.quantite === 0" (click)="addToCart(p); buying()">🛒 buy<i class="bi bi-cart"></i></button>
          }
          @if (authss.hasrole('ADMIN')){
            <button type="button" class="btn btn-outline-warning edit-btn" (click)="editProduct()">Edit</button>
            <button type="button" class="btn btn-outline-danger delete-btn" (click)="deleteProduct(p)">Delete</button>
            <button type="button" class="btn btn-outline-primary" (click)="togglePromo(p)">
              {{ p.isPromo ? 'Désactiver Promo' : 'Activer Promo' }}
            </button>
            
          }
        </div>
      </div>
    </div>
  </div>
</div>
