<html>
<head>
                      
</head>

  







<body>
      <header>
             
      </header>
      <nav>
            

      </nav>
      <main>
        <div class="product-container">
          <div class="product-item" *ngFor="let item of cartItems">
            <img style="width: 3cm; height: 3cm;" [src]="'assets/images/' + item.url_image" alt="Product Image">
            <h4>{{ item.name }}</h4>
            <p>{{ item.price }}</p>
            <details class="accordion">
              <summary style="font-weight: bold;" i18n>product details</summary>
              <div class="accordion-body">
                <p>{{ item.description }}</p>
              </div>
            </details>
           
            
            <button type="button"(click)="removeFromCart(item)" class="btn btn-outline-warning" i18n>delete</button>
          </div>
        </div>  
      </main>
      <footer>
                </footer>





                      
</body>
</html>